<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <head th:replace="fragments/header :: head"></head>
</head>
<body>
<div th:replace="fragments/menu :: div"/></div>

<div class="container">
    <div class="col-sm-6  my-5">

        <h3 class="text-success">Register New Book </h3>
        <form th:action="@{/saveBook}" modelAttribute="book" method="post" th:object="${book}">
            <input type="hidden"  th:value="${book.id}" name="id">

            <h8 class="text-secondary">ISBN</h8>
            <div class="form-group">
                <input type="text"  th:value="${book.ISBN}" name="ISBN" class="form-control" placeholder="ISBN" >
            </div>

            <h8 class="text-secondary">Title</h8>
            <div class="form-group">
                <input type="text" th:value="${book.title}" name="title" class="form-control" placeholder="Title" >
            </div>

            <h8 class="text-secondary">Release Year</h8>
            <div class="form-group">
                <input type="text" th:value="${book.releaseYear}" name="releaseYear" class="form-control" placeholder="ReleaseYear" >
            </div>

            <h8 class="text-secondary">Quantity</h8>
            <div class="form-group">
                <input type="text" th:value="${book.quantity}" name="quantity" class="form-control" placeholder="Quantity">
            </div>

            <h8 class="text-secondary">Category</h8>
            <div class="form-group">
                <select class="custom-select" id="inputGroupSelect01"  name="category">
                    <option th:each="cat : ${categories}" th:value="${cat.category_id}" th:text="${cat.name}"></option>
                </select>
            </div>
            <h8 class="text-secondary">Author(s)</h8>
            <div class="form-check">

                <th:block th:each="author : ${authors}">
                    <input type="checkbox" name="bookAuthS" th:value="${author.author_id}"/>
                    <label th:text="${author.firstName}+' '+${author.lastName}"></label>
                </th:block>
            </div>


            <button class="btn btn-success">Save</button>
        </form>
    </div>
</div>

</body>
</html>