<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Home</title>
<head th:replace="fragments/header :: head">
    <style>
        body{
            background-color: #F3F4F8;
        }

    </style>
</head>

<body>
<div th:replace="fragments/menu :: div"/></div>
<div class="container">

    <div class="row my-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-success text-center">Your Online Library</h1>
            <h3 class="text-secondary text-center"> Welcome here can you Add, Edit, Delete and Search for Books<br> And you have access to order the books in Catalogue</h3>
        </div>
    </div>
</div>


</body>
</html>