<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Home</title>
<head th:replace="fragments/header :: head">
    <style>
        body{
            background-image: url("fragments/background.jpg");
        }
    </style>
</head>

<body>
<div th:replace="fragments/menu :: div"/></div>
<div class="container">

    <div class="row my-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-success text-center">Your Online Library</h1>
        </div>
    </div>
</div>

</body>
</html>