<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <head th:replace="fragments/header :: head"></head>

    <style>
        body{

            background-color: #F3F4F8;

        }

    </style>

</head>
<body>
<div th:replace="fragments/menu :: div"/></div>

<div class="container">
    <div class="row my-5">
        <div class="col-sm-9  mx-auto">

            <form th:action="@{/searchBook}" modelAttribute="bookSearch" method="post">
                <div class="form-group">
                    <input type="text"  th:value="${bookSearch.searchText}" name="bookSearch" class="form-control" placeholder="Search Book By Title Or Category Please">
                </div>
                <button class="btn btn-success">Search</button>
            </form>

            <h3 class="text-success text-center">Catalogue</h3>

            <div th:if="${!books.empty}">
                <table class="table table-striped table-bordered col-sm-12" align="center">
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Detail</th>
                        <th>Order</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tbody>
                    <th:block th:each="book : ${books}">
                        <tr>
                            <td th:text="${book.ISBN}"></td>
                            <td th:text="${book.title}"></td>
                            <td>
                                <a class="btn btn-secondary" th:href="@{/detailBook/}+${book.id}">Detail</a>
                            </td>
                            <td>
                                <a class="btn btn-success" th:href="@{/orderBook/}+${book.id}">Order</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" th:href="@{/editBook/}+${book.id}">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{/deleteBook/}+${book.id}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>