<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shipped</title>
    <head th:replace="fragments/header :: head"></head>
    <style>
        body{
            background-color: #F3F4F8;
        }
    </style>
</head>
<body>
<div th:replace="fragments/menu :: div"/></div>

<h3 class="text-success" align="center">The order has been shipped</h3>

<div th:if="${!books.empty}">
    <table class="table col-sm-12" align="center">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
        </tr>
        <tbody>
        <th:block th:each="book : ${books}">
            <tr>
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.title}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>


</body>
</html>