<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <head th:replace="fragments/header :: head"></head>

    <style>
        body{

            background-color: #DEE5B9;

        }

    </style>

</head>
<body>
<div th:replace="fragments/menu :: div"/></div>

<div class="container">
    <div class="row my-5">
        <div class="col-sm-9  mx-auto">


            <form action="#" th:action="@{/searchBook}" th:object="${book}">
                <label for="search_input">Search:</label> <input name="search"
                                                                 id="search">
            </input>
                <div th:if="${! #lists.isEmpty(search)}">
                    <h2>Search Results</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>rarity level</th>
                            <th>year</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="search : ${books}">
                            <td th:text="${search.ISBN}">Text ...</td>
                            <td th:text="${search.name}">Text ...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>


            <h3 class="text-success text-center">Catalogue</h3>

            <div th:if="${!books.empty}">
                <table class="table col-sm-12" align="center">
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody>
                    <th:block th:each="book : ${books}">
                        <tr>
                            <td th:text="${book.ISBN}"></td>
                            <td th:text="${book.title}"></td>
                            <td>
                                <a class="btn btn-secondary" th:href="@{/detailBook/}+${book.id}">Detail</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/orderBook/}+${book.id}">Order</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" th:href="@{/editBook/}+${book.id}">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{/deleteBook/}+${book.id}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>