<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shipping</title>
    <head th:replace="fragments/header :: head"></head>

</head>
<body>
<div th:replace="fragments/menu :: div"/></div>


<h3 class="text-success text-center">Order</h3>

<table class="table col-sm-6" align="center">
    <tbody>
    <tr>
        <th>ID</th>
        <td th:text="${order.order_id}"></td>
    </tr>

    <tr>
        <th>Date</th>
        <td th:text="${order.date}"></td>
    </tr>

    <tr>
        <th>Books</th>
        <td></td>
    </tr>

    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.title}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</div>


<h3 class="text-success text-center">Shipped to:</h3>

<h6 class="text-secondary text-center" th:text="${ship.firstName}+' '+${ship.lastName}"></h6>
<h6 class="text-secondary text-center" th:text="${ship.postalCode}"></h6>
<h6 class="text-secondary text-center" th:text="${ship.address}"></h6>

</body>
</html>